<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>E-commerce Website</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">visual oasis</a>
            </div>
            <!-- <div class="categories-dropdown">
                <div class="categories-header">Shop Now</div>
                <div class="dropdown-content">
                    <a href="index.html">Studs</a> </br>
                    <a href="index.html">Dangling</a>
                </div>
            </div> -->
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="/template/images/jadeite-blooms.png" alt="jadeite-blooms"/>
                            <div class="product-name">
                                <a href="product.html">Jadeite Blooms</a>
                            </div>
                            <div class="product-description">Polymer clay and hypoallergenic - stainless steel studs </div>
                            <div class="product-size">3.6" (length)</div>
                            <div class="product-price">$89</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="/template/images/lilac-on-lime.png" alt="lilac-on-lime"/>
                            <div class="product-name">
                                <a href="product.html">Lilac on Lime</a>
                            </div>
                            <div class="product-description">Polymer clay and hypoallergenic - stainless steel studs </div>
                            <div class="product-size">3" (length)</div>
                            <div class="product-price">$43</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="/template/images/ocean-waves.png" alt="ocean-waves">
                            <div class="product-name">
                                <a href="product.html">Ocean Waves</a>
                            </div>
                            <div class="product-description">Polymer clay and hypoallergenic - stainless steel studs </div>
                            <div class="product-size">3.3" (length)</div>
                            <div class="product-price">$75</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="/template/images/pastel-skies.png" alt="pastel-skies">
                            <div class="product-name">
                                <a href="product.html">Pastel Skies</a>
                            </div>
                            <div class="product-description">Polymer clay and hypoallergenic - stainless steel studs </div>
                            <div class="product-size">3.6" (length)</div>
                            <div class="product-price">$89</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="/template/images/vintage-poppies.png" alt="vintage-poppies">
                            <div class="product-name">
                                <a href="product.html">Vintage Poppies</a>
                            </div>
                            <div class="product-description">Polymer clay and hypoallergenic - stainless steel studs </div>
                            <div class="product-size">2" (length)</div>
                            <div class="product-price">$89</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            All rights reserved.
        </footer>
    </div>
</body>
</html>