html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font: 1.7rem Lato;
	height: 100vh;
	margin: 0;
}

#root {
	height: 100%;
}

.grid-container {
	display: grid;
	grid-template-areas: "header" "main" "footer";
	grid-template-columns: 1fr;
	grid-template-rows: 5rem 1fr 5rem;
	height: 100%;
}
.header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	background-color: lightsteelblue;
	align-items: center;
	padding: 2.5rem;
}
.brand a {
	color: rgb(18, 45, 71);
	font-size: 3rem;
	font-weight: bold;
	text-decoration: none;
}

.header-links a {
	color: rgb(18, 45, 71);
	text-decoration: none;
	padding: 5px;
}
.header-links a:hover {
	color: #ffffff;
}
.main {
	grid-area: main;
}
.footer {
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(68, 98, 138);
	color: #ffffff;
}

a {
	text-decoration: none;
}

/* Home Screen */
.products {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.products li {
	flex-basis: 20rem;
	margin: 2rem;
	height: 49rem;
	border-bottom: 0.1rem #c0c0c0 solid;
	list-style-type: none;
}

.product-name {
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

.product-name a {
	color: rgb(68, 98, 138);
}

.product-name,
.product-description,
.product-size,
.product-price {
	padding-top: 0.5rem;
}

.product-price {
	font-size: 2rem;
}

.product-image {
	max-width: 35rem;
	max-height: 35rem;
}

/* Product Details */
.back-to-result {
	padding: 1rem;
}
.details {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 1.5rem;
}
.details-image img {
	max-width: 50rem;
	max-height: 50rem;
	padding: 0 2rem;
}
.details-info ul {
	list-style: none;
	padding: 0 2rem;
}
.details-info li {
	margin-bottom: 1rem;
}
.details-info h3 {
	color: rgb(18, 45, 71);
}
.details-info button {
	width: 35rem;
	margin-top: 1rem;
	padding: 1rem;
	font: 1.7rem Lato;
	background-color: lightsteelblue;
	border-style: none;
	outline: none;
	cursor: pointer;
}
.details-info button:hover {
	background-color: rgb(188, 204, 224);
}
